<!--The content below is only a placeholder and can be replaced.-->
<div class="center-flex">
 <span>
    <img class="pia-logo" alt="PIA Logo"
         src="assets/pia.png">
 </span>
  <h1>
    PIA Dev Tool
  </h1>
</div>

<br>
<br>
<br>

<div class="center-flex">
  <button mat-raised-button (click)="openDialog()"> Select project home</button>
</div>
<div class="center-flex">
  <mat-form-field class="path-input">
    <input #pathInput matInput [(ngModel)]="path" width="600">
  </mat-form-field>
</div>

<div>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <mat-list>
        <mat-list-item *ngFor="let module of modules">
          <mat-checkbox [(ngModel)]="module.selected">
            {{module.name}}
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <div>
            <button mat-raised-button (click)="update()" [disabled]="path==''"> Update modules</button>
            <button mat-raised-button (click)="start()" [disabled]="path==''"> Start apps</button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div>
            <button mat-raised-button (click)="createLink()" [disabled]="path==''"> Link to core-common
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-list>
        <mat-list-item *ngFor="let label of labels">
          <mat-checkbox [(ngModel)]="label.selected">
            {{label.name}}
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <div>
            <button mat-raised-button (click)="setLabels()" [disabled]="path==''"> Set script labels</button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>

</div>
<br><br>
<div class="center-flex">
  <button mat-raised-button (click)="resetLicense()"> Reset IntelliJ IDEA license</button>
</div>


