.center-grid {
  justify-content: center;
  display: grid;
}

.center-flex {
  justify-content: center;
  display: flex;
}

.path-input {
  width: 450px;
}

.pia-logo {
  width: 40px;
  margin-top: 20px;
  margin-right: 10px;
}
